<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title text-center" style="border: 0;">
        <a class="site_title" ui-sref="firstmain"><img src="assets/beeonelogo.png" alt="homepage" class="light-logo" style="height:30px; margin:10px;" />
          <b>
            <font color="#44566C" style="font-size: 15px;" class="ng-binding">&nbsp;&nbsp;Rendement</font>
          </b>
        </a>
    </div>
    <div class="clearfix"></div>

    <!-- menu profile quick info -->

    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li style="color:#000 ! important;">
            <a id="homeli" (click)="anchorClicked($event)"
              ><i class="fa fa-cube"></i> Estimations (arbo) <span class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a routerLink="" routerLinkActive="active">Estimations par parcelle</a></li>
              <li><a href="index2.html">Profil de calibre</a></li>
              <li><a href="index3.html">Suivi de grossissement</a></li>
              <li><a href="index2.html">Evolution du calibre</a></li>

            </ul>
          </li>
          <li>
            <a id="formsli" (click)="anchorClicked($event)"
              ><i class="fa fa-cube"></i> Récolte <span id="formschevron" class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a href="form.html">Récolte</a></li>
              <li><a href="form_advanced.html">Récolte par arbre</a></li>
              <li><a href="form_validation.html">Expéditions</a></li>
            </ul>
          </li>
          <li>
            <a id="uielementsli" (click)="anchorClicked($event)"
              ><i class="fa fa-cube"></i> Suivi qualitatif <span id="uielementschevron" class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a href="general_elements.html">Analyse qualitative</a></li>
              <li><a href="media_gallery.html">Agréage des fruits</a></li>
            </ul>
          </li>
        </ul>
      </div>
  
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
